In [ ]:
from __init__ import *
from src.common.db.mariadb import *
import pandas as pd

In [4]:
e = acq_engine()
pd.read_sql('show tables', e)

                   Tables_in_acq
0  ACQ_MARIA_INSTANCE_PROPERTIES
1        ACQ_MARIA_SITE_INSTANCE
2                        SERVICE
3                    SERVICE_SUB

In [31]:
acq_service = pd.read_sql('select * from SERVICE', e)

In [34]:
acq_service['TURN'] = acq_service['TURN'].astype('int')
acq_service = acq_service.sort_values(['TURN', 'COLLECT_SITE'], ascending=True)
acq_service = acq_service.drop_duplicates(['COLLECT_SITE', 'SUB_SITE', 'TYPE'])
turns = acq_service['TURN'].unique()

for turn in turns:
    turn_site = acq_service[acq_service['TURN'] == turn].groupby(['COLLECT_SITE', 'SUB_SITE']).agg({
        'COLLECT_SITE': min,
        'TURN': min,
        'TYPE': ','.join
    })


    break

In [35]:
turn_site

                                           COLLECT_SITE  TURN           TYPE
COLLECT_SITE           SUB_SITE
chicor.ssg.com         default           chicor.ssg.com     2              M
department.lotteon.com default   department.lotteon.com     2              M
department.ssg.com     default       department.ssg.com     2              M
lg.datart.cz           default             lg.datart.cz     2              M
top.11st.co.kr         default           top.11st.co.kr     2  M,S,C,H,D,E,G
top.auction.co.kr      default        top.auction.co.kr     2            M,S
top.cjmall.com         default           top.cjmall.com     2            M,S
top.gmarket.co.kr      default        top.gmarket.co.kr     2          M,S,E
top.hyundaihmall.com   default     top.hyundaihmall.com     2            M,U
top.interpark.com      default        top.interpark.com     2              M
top.lotteimall.com     default       top.lotteimall.com     2              U
top.naverstore.com     default       top.naverstore.com     2              M
top.new.lotteon.com    default      top.new.lotteon.com     2      M,S,B,C,E
top.nsmall.com         default           top.nsmall.com     2              G
top.ssg.com            default              top.ssg.com     2          M,S,F
top.tmon.co.kr         default           top.tmon.co.kr     2    S,B,M,G,F,E
top.wemakeprice.com    default      top.wemakeprice.com     2    M,S,A,G,H,Q

In [19]:
acq_service

      ID SUB_SITE            COLLECT_SITE  TURN TYPE
0      1  default          chicor.ssg.com     2    M
66    93  default  department.lotteon.com     2    M
115  142  default  department.lotteon.com     2    M
2      3  default      department.ssg.com     2    M
119  146  default            lg.datart.cz     2    M
..   ...      ...                     ...   ...  ...
89   116  default          top.11st.co.kr   144    L
99   126  default       top.auction.co.kr   144    P
109  136  default       top.gmarket.co.kr   144    C
26    29  default           top.kurly.com   144    T
114  141  default      top.lotteimall.com   144    P

[120 rows x 5 columns]