In [ ]:
from __init__ import *
from src.common.db.mariadb import *
import pandas as pd

In [4]:
e = acq_engine()
pd.read_sql('show tables', e)

                   Tables_in_acq
0  ACQ_MARIA_INSTANCE_PROPERTIES
1        ACQ_MARIA_SITE_INSTANCE
2                        SERVICE
3                    SERVICE_SUB

In [5]:
acq_service = pd.read_sql('select * from SERVICE', e)

In [8]:
acq_service.sort_values(['COLLECT_SITE', 'TURN'])

      ID SUB_SITE            COLLECT_SITE TURN TYPE
0      1  default          chicor.ssg.com    2    M
1      2  default          chicor.ssg.com    3    A
66    93  default  department.lotteon.com    2    M
115  142  default  department.lotteon.com    2    M
117  144  default  department.lotteon.com   24    T
..   ...      ...                     ...  ...  ...
42    69  default     top.wemakeprice.com    2    G
43    70  default     top.wemakeprice.com    2    H
44    71  default     top.wemakeprice.com    2    Q
39    66  default     top.wemakeprice.com   24    T
41    68  default     top.wemakeprice.com    9    D

[120 rows x 5 columns]