In [1]:
from __init__ import *
from src.common.db.mariadb import *
import pandas as pd

In [2]:
e = acq_engine()
pd.read_sql('show tables', e)

                   Tables_in_acq
0  ACQ_MARIA_INSTANCE_PROPERTIES
1        ACQ_MARIA_SITE_INSTANCE
2             BAK_SERVICE_230314
3          CATEGORY_BLACK_FILTER
4          CATEGORY_WHITE_FILTER
5                        SERVICE
6                    SERVICE_SUB
7                            URL

In [8]:
acq_service = pd.read_sql('select * from SERVICE', e)

In [17]:
acq_service = acq_service.sort_values(['TURN', 'COLLECT_SITE'], ascending=True)
acq_service = acq_service.drop_duplicates(['COLLECT_SITE', 'SUB_SITE', 'TYPE'])
turns = acq_service['TURN'].unique()

for turn in turns:
    turn_site = acq_service[acq_service['TURN'] == turn].groupby(['COLLECT_SITE', 'SUB_SITE']).agg({
        'COLLECT_SITE': min,
        'SUB_SITE': min,
        'TURN': min,
        'TYPE': ','.join
    })


    break

In [24]:
turn_site.reset_index(drop=True)

         COLLECT_SITE SUB_SITE          TURN TYPE
0      top.11st.co.kr  default  */10 * * * *  X,L
1   top.auction.co.kr  default  */10 * * * *    P
2   top.gmarket.co.kr  default  */10 * * * *    C
3       top.kurly.com  default  */10 * * * *    T
4  top.lotteimall.com  default  */10 * * * *    P

In [19]:
acq_service

      ID SUB_SITE            COLLECT_SITE  TURN TYPE
0      1  default          chicor.ssg.com     2    M
66    93  default  department.lotteon.com     2    M
115  142  default  department.lotteon.com     2    M
2      3  default      department.ssg.com     2    M
119  146  default            lg.datart.cz     2    M
..   ...      ...                     ...   ...  ...
89   116  default          top.11st.co.kr   144    L
99   126  default       top.auction.co.kr   144    P
109  136  default       top.gmarket.co.kr   144    C
26    29  default           top.kurly.com   144    T
114  141  default      top.lotteimall.com   144    P

[120 rows x 5 columns]